@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background-light: #ffffff;
  --background-dark: #1d1c1c;
  --primary-light: #007bff;
  --primary-dark: #4d4057;
  --text-light: #000000;
  --text-dark: #ffffff;
  --accent-light: #e0e0e0;
  --accent-dark: #a0a0a0;
}

[data-theme="light"] {
  background-color: var(--background-light);
  color: var(--text-light);
}

[data-theme="dark"] {
  background-color: var(--primary-dark);
  color: var(--text-light);
}


